<div class="row p-4">
  <div class="col-8">

      <nb-card>
          <nb-card-header>Basic Details</nb-card-header>
          <nb-card-body class="p-4">
              <form #userForm=ngForm class="form form-horizontal">
                  <div class="row">
                      <div class="col-6">
                          <div class="form-group">

                              <label>First Name</label>
                              <input #first_name=ngModel [(ngModel)]="user.first_name" fullWidth minlength="4" name="first_name"
                                     nbInput required="true"
                                     shape="rectangle" status="primary" type="text">

                              <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="first_name.errors.required">
                                      First Name is required.
                                  </div>
                                  <div *ngIf="first_name.errors.minlength">
                                      First Name must be at least 4 characters long.
                                  </div>

                              </div>

                              <label>Email</label>
                              <input #email=ngModel [(ngModel)]="user.email" fullWidth minlength="4" name="email"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="string"> 

                              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="email.errors.required">
                                      Email is required.
                                  </div>
                                  <div *ngIf="email.errors.minlength">
                                      Email must be at least 4 characters long.
                                  </div>

                              </div>


                              <label>Last Name</label>
                              <input #last_name=ngModel [(ngModel)]="user.last_name" fullWidth minlength="4" name="last_name"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="text">

                              <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="last_name.errors.required">
                                      Last Name is required.
                                  </div>
                                  <div *ngIf="last_name.errors.minlength">
                                      Last Name must be at least 4 characters long.
                                  </div>
                              </div>

                              <label>Devices</label>
                              <input #devices=ngModel [(ngModel)]="user.devices" fullWidth minlength="4" name="devices"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="text">

                              <div *ngIf="devices.invalid && (devices.dirty || devices.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="devices.errors.required">
                                      Device is required.
                                  </div>
                                  <div *ngIf="devices.errors.minlength">
                                      Device must be at least 4 characters long.
                                  </div>

                              </div>


                              <label>Phone Number</label>
                              <input #mobile_number=ngModel [(ngModel)]="user.mobile_number" 
                                      fullWidth minlength="10" name="mobile_number"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="phone">

                              <div *ngIf="mobile_number.invalid && (mobile_number.dirty || mobile_number.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="mobile_number.errors.required">
                                      Status is required.
                                  </div>
                                  <div *ngIf="mobile_number.errors.minlength">
                                      Status must be at least 4 characters long.
                                  </div>

                              </div>

                              <label>Device Limit</label>
                              <input #device_limit=ngModel [(ngModel)]="user.device_limit" fullWidth minlength="2" name="device_limit"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="number">

                              <div *ngIf="device_limit.invalid && (device_limit.dirty || device_limit.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="device_limit.errors.required">
                                      Device Limit is required.
                                  </div>
                                  <div *ngIf="device_limit.errors.minlength">
                                      Device limit must be valid.
                                  </div>

                              </div>


                      </div>
                    </div>
                  </div>

              </form>
          </nb-card-body>

                  <!-- <div class="form-group">
                      <label>Category</label>
                      <ngx-type-ahead (send)="category.category = $event;category.category_id = $event.id"
                                      [filters]="{__only: ['id', 'name'], __is_parent__bool: true}"
                                      [model]="category.category" [required]="true" [url]="'category'">
                      </ngx-type-ahead>


                  </div> -->

          <nb-card-footer>
              <div class="d-flex justify-content-end">
                  <button (click)="cancel()" class="mr-5" nbButton status="danger">CANCEL</button>
                  <button (click)="save()" [disabled]="userForm.form.invalid" nbButton status="primary">SAVE
                  </button>
              </div>
          </nb-card-footer>
      </nb-card>
    </div>
 </div>
<ngx-data-table
        [columns]="columns" [disableColumn]="'is_disabled'"
        [disableIcon]="true" [editIcon]="true" [editPath]="'/pages/catalogue-management/devices/'"
        [filters]="filters"
        [infoIcon]="false" [inputQuery]="{__include: ['external_id'],
                 __only: ['id', 'name', 'is_disabled', 'external_id'], __is_disabled__bool: false, __has_parent__bool: false}"
        [path]="'device'"
        [searchField]="'__name__contains'"></ngx-data-table>
