<div class="row p-4">
  <div class="col-8">

      <nb-card>
          <nb-card-header>Basic Details</nb-card-header>
          <nb-card-body class="p-4">
              <form #riderForm=ngForm class="form form-horizontal">
                  <div class="row">
                      <div class="col-6">
                          <div class="form-group">

                              <label>Name</label>
                              <input #name=ngModel [(ngModel)]="rider.name" fullWidth minlength="4" name="name"
                                     nbInput required="true"
                                     shape="rectangle" status="primary" type="text">

                              <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="name.errors.required">
                                      Name is required.
                                  </div>
                                  <div *ngIf="name.errors.minlength">
                                      Name must be at least 4 characters long.
                                  </div>

                              </div>

                              <label>Email</label>
                              <input #email=ngModel [(ngModel)]="rider.email" fullWidth minlength="4" name="email"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="string"> 

                              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="email.errors.required">
                                      Email is required.
                                  </div>
                                  <div *ngIf="email.errors.minlength">
                                      Email must be at least 4 characters long.
                                  </div>

                              </div>

                              <label>Status</label>
                              <input  #status=ngModel [(ngModel)]="rider.status" fullWidth minlength="4" name="status"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="text">

                              <div *ngIf="status.invalid && (status.dirty || status.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="status.errors.required">
                                      Status is required.
                                  </div>
                                  <div *ngIf="status.errors.minlength">
                                      Status must be at least 4 characters long.
                                  </div>

                              </div>

                              <label>Balance</label>
                              <input #balance=ngModel [(ngModel)]="rider.balance" fullWidth minlength="4" name="balance"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="number">
                              
                              <div *ngIf="balance.invalid && (balance.dirty || balance.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="balance.errors.required">
                                      Balance is required.
                                  </div>
                                  <div *ngIf="balance.errors.minlength">
                                      Balance must be at least 4 characters long.
                                  </div>
                               </div>
                                  
                              <label>Bonus</label>
                              <input #bonus=ngModel [(ngModel)]="rider.bonus" fullWidth minlength="4" name="bonus"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="number">
                              
                              <div *ngIf="bonus.invalid && (bonus.dirty || bonus.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="bonus.errors.required">
                                      Bonus is required.
                                  </div>
                                  <div *ngIf="bonus.errors.minlength">
                                      Bonus must be at least 4 characters long.
                                  </div>
                              </div>

                              <label>City</label>
                              <input #city=ngModel [(ngModel)]="rider.city" fullWidth minlength="4" name="city"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="text">

                              <div *ngIf="city.invalid && (city.dirty || city.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="city.errors.required">
                                      City is required.
                                  </div>
                                  <div *ngIf="city.errors.minlength">
                                      City must be at least 4 characters long.
                                  </div>
                              </div>
                              

                              <label>Registration City</label>
                              <input #reg_city=ngModel [(ngModel)]="rider.reg_city" fullWidth minlength="4" name="registration_city"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="text">

                              <div *ngIf="reg_city.invalid && (reg_city.dirty || reg_city.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="reg_city.errors.required">
                                      Registration City is required.
                                  </div>
                                  <div *ngIf="reg_city.errors.minlength">
                                      Registration City must be at least 4 characters long.
                                  </div>
                              </div>

                              <label>Legal Status</label>
                              <input #legal_status=ngModel [(ngModel)]="rider.legal_status" fullWidth minlength="4" name="legal_status"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="text">

                              <div *ngIf="legal_status.invalid && (legal_status.dirty || legal_status.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="legal_status.errors.required">
                                      What is your legal status?
                                  </div>
                                  <div *ngIf="legal_status.errors.minlength">
                                      Status must be at least 4 characters long.
                                  </div>

                              </div>


                              <label>Date of Registration</label>
                              <input #reg_date=ngModel [(ngModel)]="rider.reg_date" fullWidth minlength="4" name="registration_date"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="date">

                              <div *ngIf="reg_date.invalid && (reg_date.dirty || reg_date.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="reg_date.errors.required">
                                      Status is required.
                                  </div>
                                  <div *ngIf="reg_date.errors.minlength">
                                      Status must be at least 4 characters long.
                                  </div>

                              </div>

                              <label>Devices</label>
                              <input #devices=ngModel [(ngModel)]="rider.devices" fullWidth minlength="4" name="devices"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="text">

                              <div *ngIf="devices.invalid && (devices.dirty || devices.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="devices.errors.required">
                                      Status is required.
                                  </div>
                                  <div *ngIf="devices.errors.minlength">
                                      Status must be at least 4 characters long.
                                  </div>

                              </div>


                              <label>Phone Number</label>
                              <input #phone_number=ngModel [(ngModel)]="rider.phone_number" 
                                      fullWidth minlength="10" name="phone_number"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="phone">

                              <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="phone_number.errors.required">
                                      Status is required.
                                  </div>
                                  <div *ngIf="phone_number.errors.minlength">
                                      Status must be at least 4 characters long.
                                  </div>

                              </div>


                              <label>Discount</label>
                              <input #discount=ngModel [(ngModel)]="rider.discount" fullWidth minlength="4" name="discount"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="number">

                              <div *ngIf="discount.invalid && (discount.dirty || status.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="discount.errors.required">
                                      Discount is required.
                                  </div>
                                  <div *ngIf="discount.errors.minlength">
                                      Discount must be a valid amount.
                                  </div>

                              </div>
                              

                              <label>End Date</label>
                              <input #end_date=ngModel [(ngModel)]="rider.end_date" fullWidth minlength="4" name="end_date"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="date">

                              <div *ngIf="end_date.invalid && (end_date.dirty || end_date.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="end_date.errors.required">
                                      End Date is required.
                                  </div>
                                  <div *ngIf="end_date.errors.minlength">
                                      End date must be valid
                                  </div>

                              </div>
                              

                              <label>Device Limit</label>
                              <input #device_limit=ngModel [(ngModel)]="rider.device_limit" fullWidth minlength="2" name="device_limit"
                                      nbInput required="true"
                                      shape="rectangle" status="primary" type="text">

                              <div *ngIf="device_limit.invalid && (device_limit.dirty || device_limit.touched)"
                                   class="alert alert-danger mt-3">

                                  <div *ngIf="device_limit.errors.required">
                                      Device Limit is required.
                                  </div>
                                  <div *ngIf="device_limit.errors.minlength">
                                      Device limit must be valid.
                                  </div>

                              </div>


                      </div>
                    </div>
                  </div>

              </form>
          </nb-card-body>

                  <!-- <div class="form-group">
                      <label>Category</label>
                      <ngx-type-ahead (send)="category.category = $event;category.category_id = $event.id"
                                      [filters]="{__only: ['id', 'name'], __is_parent__bool: true}"
                                      [model]="category.category" [required]="true" [url]="'category'">
                      </ngx-type-ahead>


                  </div> -->

          <nb-card-footer>
              <div class="d-flex justify-content-end">
                  <button (click)="cancel()" class="mr-5" nbButton status="danger">CANCEL</button>
                  <button (click)="save()" [disabled]="riderForm.form.invalid" nbButton status="primary">SAVE
                  </button>
              </div>
          </nb-card-footer>
      </nb-card>
    </div>
 </div>
<ngx-data-table
        [columns]="columns" [disableColumn]="'is_disabled'"
        [disableIcon]="true" [editIcon]="true" [editPath]="'/pages/catalogue-management/devices/'"
        [filters]="filters"
        [infoIcon]="false" [inputQuery]="{__include: ['external_id'],
                 __only: ['id', 'name', 'is_disabled', 'external_id'], __is_disabled__bool: false, __has_parent__bool: false}"
        [path]="'device'"
        [searchField]="'__name__contains'"></ngx-data-table>
